
body .mediterraneancoin-div a.mediterraneancoin-button, body .mediterraneancoin-div a.mediterraneancoin-counter {
    display: inline-block;
    border: 1px solid; 
    border-radius: 5px;
    line-height: 18px;
    font-size: 10pt;
    text-decoration: none;
    font-family: "Helvetica", sans-serif;
}


body .mediterraneancoin-div a.mediterraneancoin-button {
    border-color: #f7931a;
    color: white;
    background-color: #f9aa4b;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAARCAIAAACNaGH2AAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB94DBQEpKOSvADsAAAJkSURBVCjPTVJLSFRhFP7Of+94feADn2HjGPkgdTMVVFCtCgKlRRC2KqRNUNCitkGLNm4SWoi4KUIIDMoQyrIgc5GVlE0Yii80nRl1xhnGcbqPuf9/WtyZ6qzOd/jOd55gZmZWSrnS2cksS+UqpbygnU2nzA3+zwQAAERkuok3y7esbJKImBnATPThTPQhs/IgAAHAA6HNoVhmdiHxKpfsJGa2Hq2mJmy5i7wJZiYiO5v+sTVk6OVT6/elygKYjgwAnHaic7EXRJRje97n8AMQPH86PPDbiS8lxgTpPlE0He53pfmvk5S1tpx8q5GPwZrwze88/7jR57LllZVsfwn3ew0LMBZ2Xjpyj5kJpFiWG4Fyo0Ejw9PTRMFiYixtR4hIZLLbc7GR/BhUW9zRXtPdUtUZ3NdTbgQ8SVvuriTfAdAuXa9fTH7QhE+QFqzrOdvUW13cWqhX1JcePVRzIW1HktYKs9xztlurOsW9mZJCTRCylUUtx/w3AEiVTVnrAHRh7C87rpMBiB1zPpz6RDTItcZat//uzeDl5qoztpseX7odqDg1Hx9JWeuKJVGBy8JVwqcfIW1QSSaY+HlFtVeK0eXv37ZCp/3Nw/PjV9uKyoy6pys1jxcbYk5jxqrQAYAAH37tcXsl2qqDvaGgXojZzMkTDQDwfgqrmRwnrw2c88vXXQKguCm3TBwopRKfiGTU4WfYNgUofx0AIJ6IiidLDHB1kdZRqZX4hCO5L4SYRaDcV+l/N21LXJvE1CZfPMhNZTQZ5dFVDK8QQKA8SQwqxR5mMIHRFZDnG/nOVy1uAvCEc/Q/UaBLcUby5X8AAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: 2px center;
    padding: 1px 5px 1px 23px;
    font-weight: bold;
}

body .mediterraneancoin-div a.mediterraneancoin-button:hover {
    color: white;
    text-decoration: none;
    background-color: #f7931a;
}

body .mediterraneancoin-div {
    display: inline-block;
    position: relative;
}

body .mediterraneancoin-div a.mediterraneancoin-counter {
    text-align: center;
    border-color: #999;
    color: #999;
    background-color: white;
    margin-left: 3px;
    padding: 1px 15px;
}

body .mediterraneancoin-div a.mediterraneancoin-counter:hover {
    border-color: black;
    color: black;
    text-decoration: none;
}

body .mediterraneancoin-div .mediterraneancoin-bubble {
    display: none;
    position: absolute;
    border: 1px solid #555;
    z-index: 1000;
    color: black;
    background-color: white;
    bottom: 24px;
    border-radius: 5px;
    text-align: center;
    padding: 4px 0.5em;
    font-size: 9pt;
    font-family: "Helvetica", sans-serif;
}
